body {
  background-color: #ff9e1b;
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* nav bar help from W3schools and previous assignments */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #47c7fc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

li a:hover {
  background-color: navy;
  color: orange;
}

h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

/* Side by side images from https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */
* {
  box-sizing: border-box;
}

.col {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#car {
  margin-left: 380px;
}

#caption {
  text-align: center;
}

figcaption {
  border: 1px solid navy;
  text-align: center;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  background-color: antiquewhite;
  border: 2px solid navy;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border-collapse: collapse;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  border: 1px solid navy;
  border-collapse: collapse;
}

img {
  border: 2px solid #47c7fc;
}

.right {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
